@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');

body {
    font-family: "Spectral";
    padding-top: 110px;
    letter-spacing: 0.3px;
    font-variant-ligatures: common-ligatures;
    background-color:  rgba(135,206,250,0.2);
    font-size: 1.1rem;
    color: #212529;
}

mark {
    background-color: #ffec99;
    padding: 0 2px;
}

h1 {
    padding-top: 80px;
    margin-top: -80px;

    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 2.1rem !important;
    line-height: 1.25;
}

footer {
    margin-top: 20px;
    margin-bottom: 30px;
}

.titre {
    font-size: xx-large;
    font-weight: bold;
    text-align: inherit;
    margin-bottom: 30px;
    line-height: 1.2;
}

.soustitre {
    font-size: x-large;
    text-align: inherit;
}

main a,
footer a,
dialog a {
    color: #0d6efd;
}

main a:hover,
footer a:hover,
dialog a:hover {
    color: #0b5ed7;
}

.link-primary {
    color: #0d6efd;
}

.link-primary:hover {
    color: #0b5ed7;
}

dialog::backdrop {
    background-color: rgba(15, 23, 42, 0.5);
}
